body {
  background-color: #113d3c;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hovver {
  padding: 7px 15px 7px 15px;
  border-radius: 500px;
  border: 1px solid #113d3c;
}

.hovver:hover {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: 500px;
}

@media (min-width: 1025px) {
  .spacing {
    margin-top: 180px;
  }
  .buttons {
    width: 170px;
    padding: 14px 1px 14px 1px;
  }
  .utama {
    width: auto !important;
  }
  .second {
    width: auto !important;
    height: 160px !important;
    border-radius: 15px;
  }
}
/* modeMobile */
@media (max-width: 1025px) {
  .spacing {
    margin-top: 120px;
  }
  .buttons {
    width: 170px;
    padding: 14px 1px 14px 1px;
  }
  .utama {
    width: auto !important;
  }
  .second {
    width: auto !important;
    height: 125px !important;
    border-radius: 15px;
  }
}

.bg-prim {
  background-color: #113d3c;
}
.bg-img {
  background-image: url("../images/background1.png");
}
.text-prim {
  color: #113d3c;
}
.arrows {
  border: 3px solid #113d3c;
}
.utama {
  height: 300px !important;
  margin-bottom: 60px;
}
.utama iframe {
  border-radius: 25px;
  width: 600px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes slideBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.prio {
  padding: 8px 10px;
  border-radius: 10px;
  width: 345px;
  background-image: linear-gradient(90deg, #3ab449, #4caf50);
  background-size: 200% 100%; /* Make sure the background is larger than the element */
  background-repeat: no-repeat; /* Prevent background from repeating */
  animation: slideBackground 3s linear infinite;
}

.second {
  background-color: #fff;
}
.Doctor {
  justify-content: end;
  align-items: end;
  margin-left: 50px;
  width: 500px;
  margin-top: -3px;
}
